.video {
  border: 5px solid white;

  @media (--mediaLaptop) {
    width: 100%;
  }

  @media (--mediaTablet) {
    width: 100%;
  }
}


.infosyncMode{
  border: 5px solid rgba(255, 255, 255, 0.175);
}

.home{
  border: 10px solid white;
}

.sidebarImages {
  display: grid;
  grid-template-columns: repeat(6, [col] 1fr);
  align-items: center;

  @media (--mediaTablet) {
    padding: 0 80px;
    margin-top: 60px;
  }

  @media (--mediaMobile) {
    padding: 0 20px;
    margin-top: 0px;
  }
}

.sidebarImage {
  &:first-child {
    grid-column: col 1 / span 4;
    grid-row: 1;
    position: relative;
    top: 5%;
    opacity: 0.4;
  }

  &:last-child {
    grid-column: col 3 / span 4;
    grid-row: 1;
    position: relative;
    top: 7%;
  }
}
